html{
    background-color: navy;
}
.canvas-area{
    display: block;
}
.canvas-area, .canvas-conditions{
    margin: 0 auto;
}
.canvas-conditions{
    position: static;
    min-width: 50px;
    min-height: 50px;
    background-color: rgb(19, 110, 47);
    border-color: rgb(216, 216, 154);
    cursor: pointer;
}
@font-face {
    font-family:BBH Bogle ;
    src: url(https://fonts.google.com/specimen/BBH+Bogle?query=b);
}
span{
    font-family: BBH Bogle;
    font-size: 40px;
    font-weight: normal;
}
h1{
    display: inline-block;
    margin-block: 0 auto;
}

